---
{{ ansible_managed | comment }}

name: messages
services:
  frontend:
    container_name: messages-frontend
    image: "{{ st_messages_frontend_image }}:{{ st_messages_tag }}"
    env_file: ./frontend_env
    ports:
      - "{{ st_messages_port }}:8080"
    depends_on:
      backend:
        condition: service_healthy

  backend:
    container_name: messages-backend
    image: "{{ st_messages_backend_image }}:{{ st_messages_tag }}"
    env_file: ./backend_env
