---
- name: "Import Suite Territoriale podman role."
  ansible.builtin.import_role:
    name: suitenumerique.st.podman
  vars:
    st_podman_user: "messages"
    st_podman_uid: "{{ st_messages_uid }}"
    st_podman_gid: "{{ st_messages_gid }}"

- name: "Deploy mta-in."
  ansible.builtin.import_tasks: mta_in.yml
  when: st_messages_mta_in_enabled
  tags: ['messages_mta_in']

- name: "Deploy socks-proxy."
  ansible.builtin.import_tasks: socks_proxy.yml
  when: st_messages_socks_proxy_enabled
  tags: ['messages_socks_proxy']

- name: "Deploy mpa."
  ansible.builtin.import_tasks: mpa.yml
  when: st_messages_mpa_enabled
  tags: ['messages_mpa']

- name: "Import monitoring.yml"
  ansible.builtin.import_tasks: monitoring.yml
  when: st_messages_monitoring_enabled
  tags: ['messages_monitoring']
