{{ ansible_managed | comment }}
clamav {
  action = "reject";
  message = '${SCANNER}: virus found: "${VIRUS}"';
  symbol = "CLAM_VIRUS";
  type = "clamav";
  # If set true, log message is emitted for clean messages
  log_clean = true;
  servers = "clamav:3310";
  # Scan whole message - slightly more load
  scan_mime_parts = false;
}
