{{ ansible_managed | comment }}

key_prefix = "rs_history_lst" # needed because the default one depends on the hostname, which is random in the container
nrows  = {{ st_messages_mpa_rspamd_history_nrows }};  # max number of rows for the index file, trying to keep between 2 weeks and 1 month
