---
- name: "Login user {{ st_podman_user }} to container registries"
  become: true
  become_user: "{{ st_podman_user }}"
  become_method: ansible.builtin.sudo
  become_flags: "-i"
  when: st_podman_registries is defined and st_podman_registries | length > 0
  no_log: true
  containers.podman.podman_login:
    username: "{{ item.username }}"
    secret: "{{ item.secret | default(omit) }}"
    password: "{{ item.password | default(omit) }}"
    registry: "{{ item.registry }}"
  loop: "{{ st_podman_registries }}"

- name: "Ensure registries.conf for user {{ st_podman_user }}"
  when: st_podman_registries_config_template is defined and st_podman_registries_config_template | length > 0
  ansible.builtin.template:
    src: "{{ st_podman_registries_config_template }}"
    dest: "{{ st_podman_home }}/.config/containers/registries.conf"
    owner: "{{ st_podman_user }}"
    group: "{{ st_podman_group }}"
    mode: "0640"
