---
{{ ansible_managed | comment }}

name: messages
services:
  worker:
    container_name: messages-worker
    image: ghcr.io/suitenumerique/messages-backend:{{ st_messages_tag }}
    env_file: ./env
    command: celery -A messages.celery_app worker --task-events --beat -l INFO -c $CELERY_CONCURRENCY -Q celery,default
    healthcheck:
      test: ["CMD-SHELL", "celery -A messages.celery_app inspect ping"]
      interval: 1m
      timeout: 10s
      start_interval: 5s
