{% include "base.django.env.j2" %}
{# drive backend overlay: AWS_S3_DOMAIN_REPLACE / MEDIA_BASE_URL (via base) + COLLABORA url #}
{% if answers.WOPI_CLIENTS %}WOPI_CLIENTS={{ answers.WOPI_CLIENTS }}
{% endif %}
WOPI_COLLABORA_DISCOVERY_URL={{ answers.WOPI_COLLABORA_DISCOVERY_URL }}
{% if answers.WOPI_COLLABORA_OPTIONS %}WOPI_COLLABORA_OPTIONS={{ answers.WOPI_COLLABORA_OPTIONS }}
{% endif %}
{% if answers.WOPI_SRC_BASE_URL %}WOPI_SRC_BASE_URL={{ answers.WOPI_SRC_BASE_URL }}
{% endif %}