{% include "base.django.env.j2" %}
{# meet backend overlay #}
LIVEKIT_API_KEY={{ answers.LIVEKIT_API_KEY }}
LIVEKIT_API_SECRET={{ answers.LIVEKIT_API_SECRET }}
LIVEKIT_API_URL={{ answers.LIVEKIT_API_URL }}
{% if answers.LIVEKIT_FORCE_WSS_PROTOCOL %}LIVEKIT_FORCE_WSS_PROTOCOL={{ answers.LIVEKIT_FORCE_WSS_PROTOCOL }}
{% endif %}
{% if answers.LIVEKIT_VERIFY_SSL %}LIVEKIT_VERIFY_SSL={{ answers.LIVEKIT_VERIFY_SSL }}
{% endif %}
{% if answers.DJANGO_EMAIL_SUPPORT_EMAIL %}DJANGO_EMAIL_SUPPORT_EMAIL={{ answers.DJANGO_EMAIL_SUPPORT_EMAIL }}
{% endif %}
{% if answers.DJANGO_EMAIL_DOMAIN %}DJANGO_EMAIL_DOMAIN={{ answers.DJANGO_EMAIL_DOMAIN }}
{% endif %}
{% if answers.DJANGO_EMAIL_APP_BASE_URL %}DJANGO_EMAIL_APP_BASE_URL={{ answers.DJANGO_EMAIL_APP_BASE_URL }}
{% endif %}