{% include "base.django.env.j2" %}
{# meet backend overlay #}
LIVEKIT_API_KEY={{ answers.LIVEKIT_API_KEY }}
LIVEKIT_API_SECRET={{ answers.LIVEKIT_API_SECRET }}
LIVEKIT_API_URL={{ answers.LIVEKIT_API_URL }}
# Lets users upload custom video-call background images (stored in the meet S3
# bucket under files/). Purging soft-deleted files from S3 is normally a Celery
# job; we don't run a dedicated worker for meet for now, so run the purge
# manually when needed with:
#   st-cli oneoff meet <env> -- python manage.py purge_deleted_files
FILE_UPLOAD_ENABLED=True
{% if answers.LIVEKIT_FORCE_WSS_PROTOCOL %}LIVEKIT_FORCE_WSS_PROTOCOL={{ answers.LIVEKIT_FORCE_WSS_PROTOCOL }}
{% endif %}
{% if answers.LIVEKIT_VERIFY_SSL %}LIVEKIT_VERIFY_SSL={{ answers.LIVEKIT_VERIFY_SSL }}
{% endif %}
{% if answers.DJANGO_EMAIL_SUPPORT_EMAIL %}DJANGO_EMAIL_SUPPORT_EMAIL={{ answers.DJANGO_EMAIL_SUPPORT_EMAIL }}
{% endif %}
{% if answers.DJANGO_EMAIL_DOMAIN %}DJANGO_EMAIL_DOMAIN={{ answers.DJANGO_EMAIL_DOMAIN }}
{% endif %}
{% if answers.DJANGO_EMAIL_APP_BASE_URL %}DJANGO_EMAIL_APP_BASE_URL={{ answers.DJANGO_EMAIL_APP_BASE_URL }}
{% endif %}
{% if answers.RECORDING_ENABLE %}RECORDING_ENABLE={{ answers.RECORDING_ENABLE }}
RECORDING_STORAGE_EVENT_ENABLE=False
RECORDING_DOWNLOAD_BASE_URL={{ answers.RECORDING_DOWNLOAD_BASE_URL }}
{% if answers.RECORDING_OUTPUT_FOLDER %}RECORDING_OUTPUT_FOLDER={{ answers.RECORDING_OUTPUT_FOLDER }}
{% endif %}
{% endif %}