---
{{ ansible_managed | comment }}

name: docs_workers
services:
  worker:
    container_name: docs-worker
    image: "{{ st_docs_backend_image }}:{{ st_docs_tag }}"
    env_file: ./env
    command: celery -A impress.celery_app worker -l INFO -c {{ ansible_processor_nproc }}
    healthcheck:
      test: ["CMD-SHELL", "celery -A impress.celery_app inspect ping"]
      interval: 1m
      timeout: 10s
      start_interval: 5s
