---
{{ ansible_managed | comment }}

name: keycloak
services:
  keycloak:
    container_name: keycloak
    image: "{{ st_keycloak_image }}:{{ st_keycloak_tag }}"
    env_file: ./env
    # environment wins over env_file: the role owns the ports.
    environment:
      - PORT={{ st_keycloak_port }}
      - KC_HTTP_PORT={{ st_keycloak_http_port }}
      - KC_HTTP_MANAGEMENT_PORT={{ st_keycloak_management_port }}
    network_mode: host
    command: {{ st_keycloak_start_command }}
