---
- name: "Ensure drive nginx application directory."
  ansible.builtin.file:
    name: "/opt/drive/drive/nginx_config"
    owner: "drive"
    group: "drive"
    mode: "0750"
    state: directory

- name: "Deploy drive env file."
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "/opt/drive/drive/{{ item.dest }}"
    owner: "drive"
    group: "drive"
    mode: "0600"
  notify: "systemctl --user restart drive"
  loop:
    - { src: "{{ st_drive_backend_env_template }}", dest: "backend_env" }
    - { src: "{{ st_drive_frontend_env_template }}", dest: "frontend_env" }

- name: "Deploy nginx configuration file."
  ansible.builtin.template:
    src: "drive/nginx.conf.j2"
    dest: "{{ st_drive_dir }}/nginx_config/nginx.conf"
    owner: "drive"
    group: "drive"
    mode: "0600"
  notify: "systemctl --user restart drive"

- name: "Create drive application."
  ansible.builtin.import_role:
    name: suitenumerique.st.podman
    tasks_from: application.yml
  vars:
    st_podman_user: "drive"
    st_podman_application_name: "drive"
    st_podman_application_compose_template: "{{ st_drive_compose_template }}"

