{{ ansible_managed | comment }}

redis:
    address: 127.0.0.1:6379
    username: ""
    password: ""
    db: 0
    use_tls: false
    sentinel_master_name: ""
    sentinel_username: ""
    sentinel_password: ""
    sentinel_addresses: []
    cluster_addresses: []
    max_redirects: null
api_key: "{{ st_meet_livekit_api_key }}"
api_secret: "{{ st_meet_livekit_api_secret }}"
ws_url: "wss://{{ st_meet_livekit_domain }}"
