---
name: messages
services:
  mta-in:
    container_name: mta-in
    image: ghcr.io/suitenumerique/messages-mta-in:{{ st_messages_mta_in_tag }}
    env_file: ./env
    ports:
      - "8025:25"
{% if st_messages_mta_in_starttls_certificate_path is defined %}
    environment:
      STARTTLS_CHAIN_FILES: /etc/postfix/starttls_certificate.pem
    volumes:
      - {{ st_messages_mta_in_starttls_certificate_path }}:/etc/postfix/starttls_certificate.pem
{% endif %}
