---
{{ ansible_managed | comment }}

name: messages
services:
  mta-in:
    container_name: mta-in
    image: ghcr.io/suitenumerique/messages-mta-in:{{ st_messages_mta_in_tag }}
    env_file: ./env
    ports:
      - "8025:25"
{% if st_messages_mta_in_starttls_certificate_path is defined %}
    environment:
      STARTTLS_CHAIN_FILES: /etc/postfix/starttls_certificate.pem
    volumes:
      - {{ st_messages_mta_in_starttls_certificate_path }}:/etc/postfix/starttls_certificate.pem
{% endif %}
    healthcheck:
      test: ["CMD-SHELL", "/usr/lib/postfix/sbin/master -t || exit 0"]
      interval: 1m
      timeout: 3s
      start_interval: 5s
