{{ ansible_managed | comment }}

upstream rspamd {
    server 127.0.0.1:11333 max_fails=3 fail_timeout=10s;
}

server {
    listen       50080;
    server_name  _;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    location /checkv2 {
        if ($http_authorization != "Bearer {{ st_messages_mpa_auth_bearer }}") {
           return 401;
        }

        proxy_pass   http://rspamd;
        proxy_set_header Host $host;
    }
}

server {
    listen       127.0.0.1:50090;
    server_name  _;

    location /healthcheck {
        return 200 "ok\n";
        add_header Content-Type text/plain;
        access_log off;
    }
}
