---
{{ ansible_managed | comment }}

name: drive
services:
  caddy:
    container_name: drive-caddy
    image: "{{ st_drive_caddy_image }}:{{ st_drive_caddy_tag }}"
    env_file: ./caddy_env
    volumes:
      - {{ st_drive_dir }}/Caddyfile:/etc/caddy/Caddyfile:ro
    ports:
      - "{{ st_drive_port }}:50100"
    healthcheck:
      test: ["CMD", "curl", "-fsS", "-o", "/dev/null", "http://127.0.0.1:50100/__lbheartbeat__"]
      interval: 10s
      timeout: 5s
      retries: 3
    depends_on:
      backend:
        condition: service_healthy
      frontend:
        condition: service_healthy

  frontend:
    container_name: drive-frontend
    image: "{{ st_drive_frontend_image }}:{{ st_drive_tag }}"
    env_file: ./frontend_env
    healthcheck:
      test: ["CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://127.0.0.1:8080/"]
      interval: 10s
      timeout: 5s
      retries: 3

  backend:
    container_name: drive-backend
    image: "{{ st_drive_backend_image }}:{{ st_drive_tag }}"
    env_file: ./backend_env
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "/dev/null", "--header", "'Host: {{ st_drive_public_host }}'", "http://127.0.0.1:8000/__heartbeat__"]
      interval: 30s
      timeout: 15s
      retries: 3
      start_period: 10s
