---
{{ ansible_managed | comment }}

name: meet
services:
  frontend:
    container_name: meet-frontend
    image: docker.io/lasuite/meet-frontend:{{ st_meet_tag }}
    user: 1001:127
    env_file: ./frontend_env
    ports:
      - "{{ st_meet_port }}:8080"
    depends_on:
      backend:
        condition: service_healthy

  backend:
    container_name: meet-backend
    image: docker.io/lasuite/meet-backend:{{ st_meet_tag }}
    user: 1001:127
    env_file: ./backend_env
    healthcheck:
      test: ["CMD", "python", "manage.py", "check"]
      interval: 15s
      timeout: 30s
      retries: 20
      start_period: 10s
