protected-mode yes

# TCP listen() backlog.
#
# In high requests-per-second environments you need a high backlog in order
# to avoid slow clients connection issues. Note that the Linux kernel
# will silently truncate it to the value of /proc/sys/net/core/somaxconn so
# make sure to raise both the value of somaxconn and tcp_max_syn_backlog
# in order to get the desired effect.
tcp-backlog 511
timeout 0
always-show-logo no

# By default, valkey modifies the process title (as seen in 'top' and 'ps') to
# provide some runtime information. It is possible to disable this and leave
# the process name as executed by setting the following to no.
set-proc-title yes
proc-title-template "{title} {listen-addr} {server-mode}"

dir "/data"
port {{ st_valkey_instance_port }}
loglevel notice

{% if ansible_processor_nproc >= 4 %}
io-threads {{ ansible_processor_nproc - 2 }}
{% endif %}

aclfile "/etc/valkey/users.acl"
