{% include '_base.j2' %}

## PERSISTENCE MODE
tcp-keepalive 60

maxmemory {{ st_valkey_instance_maxmemory }}
maxmemory-policy noeviction

# Save the DB to disk.
save 3600 1 300 100 60 10000

# In addition, use AOF to reduce the loss to 1 second maximum in case of power outage.
# Note that changing this value in a config file of an existing database and
# restarting the server can lead to data loss. A conversion needs to be done
# by setting it via CONFIG command on a live server first.
appendonly yes
appendfsync everysec

# By default valkey will stop accepting writes if RDB snapshots are enabled
# (at least one save point) and the latest background save failed.
# This will make the user aware (in a hard way) that data is not persisting
# on disk properly, otherwise chances are that no one will notice and some
# disaster will happen.
#
# If the background saving process will start working again valkey will
# automatically allow writes again.
stop-writes-on-bgsave-error yes

{% if st_valkey_instance_replication_enabled %}
{% include '_replication.j2' %}
{% endif %}
