user default off
user sentinel on allchannels +multi +slaveof +ping +exec +subscribe +config|rewrite +role +publish +info +client|setname +client|kill +script|kill #{{ st_valkey_sentinel_password | ansible.builtin.hash('sha256') }}
user admin on allkeys allchannels +@all #{{ st_valkey_admin_password | ansible.builtin.hash('sha256') }}
user ping on nopass -@all +ping
{% if st_valkey_instance_monitoring_password is defined %}
user monitoring on allkeys +@read +info #{{ st_valkey_instance_monitoring_password | ansible.builtin.hash('sha256') }}
{% endif %}
{% if st_valkey_instance_replication_password is defined %}
user replica on +psync +replconf +ping #{{ st_valkey_instance_replication_password | ansible.builtin.hash('sha256') }}
{% endif %}
{% if st_valkey_instance_application_users is defined and st_valkey_instance_application_users | length > 0 %}
{% for usr in st_valkey_instance_application_users %}
user {{ usr.name }} on {{ usr.acl | default('allkeys +@all -@dangerous +info +role') }} #{{ usr.password | ansible.builtin.hash('sha256') }}
{% endfor %}
{% endif %}
