{{ ansible_managed | comment }}
[Unit]
Description={{ st_podman_application_name }} on rootless podman with compose file.
After=podman.socket

[Service]
Type=notify
NotifyAccess=all
Restart=on-abnormal

WorkingDirectory={{ st_podman_application_dir }}

ExecStart=podman-compose --podman-run-args="--sdnotify={{ st_podman_application_sdnotify }}" --no-ansi up --abort-on-container-exit
ExecStop=podman-compose --no-ansi down

[Install]
WantedBy=default.target
