{{ ansible_managed | comment }}
[Unit]
Description={{ st_podman_application_name }} on rootless podman with compose file.
After=network.target

[Service]
Restart=on-failure

WorkingDirectory={{ st_podman_application_dir }}

Environment="DOCKER_HOST=unix:///run/user/%U/podman/podman.sock"
ExecStart=docker compose --ansi=never up
ExecStop=docker compose --ansi=never down

[Install]
WantedBy=default.target
