{{ ansible_managed | comment }}
[Unit]
Description={{ st_podman_application_name }} on rootless podman with compose file.
Wants=network-online.target podman.socket
After=network-online.target podman.socket

[Service]
Type=notify
NotifyAccess=all
Restart={{ st_podman_application_restart_policy }}

WorkingDirectory={{ st_podman_application_dir }}

ExecStartPre=-podman-compose --no-ansi pull
ExecStart=%h/.config/systemd/user/{{ st_podman_application_name }}.sh

# This allows graceful stop before SIGKILL
ExecStop=podman-compose --no-ansi stop
# ExecStopPost executes on any stop, including failure to avoids leftover pieces of namespace
ExecStopPost=podman-compose --no-ansi down

Environment=TIMEOUT={{ st_podman_application_timeout }}
# TIMEOUT + 30s buffer for podman-compose overhead (pulling, network setup, etc.)
TimeoutStartSec={{ st_podman_application_timeout + 30 }}

[Install]
WantedBy=default.target
