---
argument_specs:
  main:
    short_description: "Installs and configures the Messages application from La Suite Territoriale on Debian systems."
    options:
      st_messages_uid:
        type: "int"
        description: "UID of the `messages` user, used for the podman role."
        default: 1100
      st_messages_gid:
        type: "int"
        description: "GID of the `messages` group, used for the podman role."
        default: "{{ st_messages_uid }}"
      st_messages_registries:
        type: "list"
        elements: "dict"
        description: "Optional private container registries to login the `messages` user onto."
      st_messages_tag:
        type: "str"
        description: "Tag of the messages docker images to deploy."
        default: "main"
      st_messages_enabled:
        type: "bool"
        description: "Triggers the installation of the messages application."
        default: false
      st_messages_dir:
        type: "str"
        description: "Remote path to the base directory for messages app."
        default: "/opt/messages/messages"
      st_messages_compose_template:
        type: "str"
        description: "Local path to the custom template to use for messages compose file."
        default: "messages/compose.yaml.j2"
      st_messages_backend_env_template:
        type: "str"
        description: "Local path to the custom template to use for messages env file."
        default: "messages/backend_env.j2"
      st_messages_backend_env:
        type: "str"
        description: "Content of the default backend_env_template, not used if st_messages_backend_env_template is defined."
        default: ""
      st_messages_backend_run_migrations:
        type: "bool"
        description: >
          Triggers the migrations task on the host.
          By default this is true, but the task has `run_once:` set on it which will trigger the migrations once per play.
          This var is useful if your deployment workflow uses `serial:`, in this case the play is separated in X plays of 1 host each, and `run_once` will effectively run once per play, resulting running the migrations on all hosts.
          If you use `serial:`, set this var to false on every host except one.
        default: true
      st_messages_frontend_env_template:
        type: "str"
        description: "Local path to the custom template to use for messages env file."
        default: "messages/frontend_env.j2"
      st_messages_frontend_env:
        type: "str"
        description: "Content of the default frontend_env_template, not used if st_messages_frontend_env_template is defined."
      st_messages_workers_enabled:
        type: "bool"
        description: "Triggers the installation of the messages workers"
        default: false
      st_messages_workers_dir:
        type: "str"
        description: "Remote path to the base directory for messages workers."
        default: "/opt/messages/workers"
      st_messages_workers_env_template:
        type: "str"
        description: "Local path to the custom template to use for messages workers env file."
        default: "workers/env.j2"
      st_messages_workers_env:
        type: "str"
        description: "Content of the default workers_env_template, not used if st_messages_workers_env_template is defined."
        default: "{{ st_messages_backend_env }}"
      st_messages_workers_compose_template:
        type: "str"
        description: "Local path to the custom template to use for messages workers compose file."
        default: "workers/compose.yaml.j2"
      st_messages_mta_in_enabled:
        type: "bool"
        description: "Triggers the installation of the mta-in."
        default: false
      st_messages_mta_in_tag:
        type: "str"
        description: "Tag of the mta-in docker image to deploy."
        default: "main"
      st_messages_mta_in_dir:
        type: "str"
        description: "Remote path to the base directory for mta-in app."
        default: "/opt/messages/mta-in"
      st_messages_mta_in_env_template:
        type: "str"
        description: "Local path to the custom template to use for mta-in env file."
        default: "mta_in/env.j2"
      st_messages_mta_in_env:
        type: "str"
        description: "Content of the default mta_in_env_template, not used if st_messages_mta_in_env_template is defined."
      st_messages_mta_in_starttls_certificate_path:
        type: "str"
        description:
          - "Path of the starttls certificate on the remote host."
          - "The certificate must be in the smtpd_tls_chain_files format, see https://www.postfix.org/postconf.5.html#smtpd_tls_chain_files."
          - "The file must be accessible by the `messages` user."
      st_messages_mta_in_compose_template:
        type: "str"
        description: "Local path to the custom template to use for mta-in compose file."
        default: "mta_in/compose.yaml.j2"
      st_messages_socks_proxy_enabled:
        type: "bool"
        description: "Triggers the installation of the socks-proxy."
        default: false
      st_messages_socks_proxy_tag:
        type: "str"
        description: "Tag of the socks-proxy docker image to deploy."
        default: "main"
      st_messages_socks_proxy_dir:
        type: "str"
        description: "Remote path to the base directory for socks-proxy app."
        default: "/opt/messages/socks-proxy"
      st_messages_socks_proxy_env_template:
        type: "str"
        description: "Local path to the custom template to use for socks-proxy env file."
        default: "socks_proxy/env.j2"
      st_messages_socks_proxy_env:
        type: "str"
        description: "Content of the default socks_proxy_env_template, not used if st_messages_socks_proxy_env_template is defined."
      st_messages_socks_proxy_compose_template:
        type: "str"
        description: "Local path to the custom template to use for socks-proxy compose file."
        default: "socks_proxy/compose.yaml.j2"
      st_messages_mpa_enabled:
        type: "bool"
        description: "Triggers the installation of the mpa."
        default: false
      st_messages_mpa_dir:
        type: "str"
        description: "Remote path to the base directory for mpa app."
        default: "/opt/messages/mpa"
      st_messages_mpa_auth_bearer:
        type: "str"
        description:
          - "Add an optional nginx container in front of the rspamd worker with a simple authorization check."
          - "The value of this variable should then be used as a Bearer token when calling the /checkv2 rspamd endpoint."
      st_messages_mpa_rspamd_tag:
        type: "str"
        description:
          - "The tag of the rspamd docker image to use."
          - "See https://hub.docker.com/r/rspamd/rspamd/tags."
        default: "3"
      st_messages_mpa_rspamd_controller_password:
        type: "str"
        description: "Password of the rspamd controller webui."
      st_messages_mpa_rspamd_neighbours:
        type: "list"
        elements: "str"
        description: "List of URLs to the rspamd neighbours controllers."
      st_messages_mpa_rspamd_config_templates:
        type: "list"
        elements: "dict"
        description: "List of rspamd configs to deploy, merged with the default configuration list."
        default: []
      st_messages_mpa_unbound_config_template:
        type: "str"
        description: "Local path to the unbound.conf template."
        default: "mpa/unbound.conf.j2"
      st_messages_mpa_clamav_tag:
        type: "str"
        description:
          - "The tag of the clamav docker image to use."
          - "See https://hub.docker.com/r/clamav/clamav/tags."
        default: "1.4"
      st_messages_mpa_clamav_config_template:
        type: "str"
        description: "Local path to the clamd.conf template."
        default: "mpa/clamd.conf.j2"
      st_messages_mpa_valkey_enabled:
        type: "bool"
        default: true
        description: "Triggers the installation of a local valkey instance, which also deploys a default redis.conf rspamd config."
      st_messages_mpa_valkey_tag:
        type: "str"
        description:
          - "The tag of the valkey docker image to use."
          - "See https://hub.docker.com/r/valkey/valkey/tags."
        default: "8"
      st_messages_mpa_compose_template:
        type: "str"
        description: "Local path to the custom template to use for mpa compose file."
        default: "mpa/compose.yaml.j2"
      st_messages_cadvisor_enabled:
        type: "bool"
        description: "Triggers the installation of the cadvisor container, a Prometheus-compliant containers monitoring tool."
        default: false
      st_messages_cadvisor_port:
        type: "str"
        description: "The host published port of the cadvisor container."
        default: "127.0.0.1:58080"
