---
name: messages
services:
  socks-proxy:
    container_name: socks-proxy
    image: "{{ st_messages_socks_proxy_image }}:{{ st_messages_socks_proxy_tag }}"
    network_mode: host
    env_file: ./env
